<span class="star" *ngFor="let _ of [1, 2, 3, 4, 5]; let i = index"
     [class.full]="i + 1 <= (rating ?? 0)"
     (click)="setRating(i + 1)">
  &#9733;
</span>

  <!-- <span class="star" *ngFor="let _ of [1, 2, 3, 4, 5]; let i = index">
    <ng-container *ngIf="(i + 1) <= Math.floor(rating); then fullStar else emptyStar"></ng-container>
    <ng-template #fullStar>
      &#9733;
    </ng-template>
    <ng-template #emptyStar>
      <span class="half-star" *ngIf="(i + 1) === Math.ceil(rating)">
        &#9733;
      </span>
    </ng-template>
  </span> -->

  
  
  
