

/* Wrapper for sidebar and content */
#wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

/* Sidebar styles */
#sidebar-wrapper {
  min-height: 100vh;
  width: 250px;
  /* margin-left: -250px; */
  transition: all 0.3s;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#sidebar-wrapper .list-group {
  width: 100%;
}

#page-content-wrapper {
  width: 100%;
  padding-left: 0;
  transition: all 0.3s;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -250px;
}

#wrapper.toggled #page-content-wrapper {
  margin-left: 0;
}

hr{
  color: #ffffff;
  margin: 0%;
  border-width: 3px;
  border-color: #ffffff;
  
}

h1{
  margin-right: 40%;
}










