#call{
    margin-left: 500px;
    
}
form{
    margin-right: 100px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: greenyellow;
    border-radius: 5%;
    background-size: 200px 100px;
    cursor: pointer;

    background-image: linear-gradient(253.58deg, #00b2eb 1.55%, #0087b1 95.8%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    box-shadow: rgba(160, 121, 0, 0.2) 0px 12px 35px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    cursor: pointer;
    color: white;
    font-size: 14.3333px;
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 11px;
    padding-left: 40px;
    
    
}
.call{
    text-decoration: none;
    color: black;
    font-weight: 620;
    

}
#navlogo{
    margin-left: 10px;
    height: 55px;
    width: 250px;
}

#whatsapp{
    margin-right: 100px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: greenyellow;
    border-radius: 5%;
    background-size: 200px 100px;
    cursor: pointer;

    background-image: linear-gradient(253.58deg, #4dc56d 1.55%, #34ac58 95.8%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    box-shadow: rgba(160, 121, 0, 0.2) 0px 12px 35px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    cursor: pointer;
    color: white;
    font-size: 14.3333px;
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 11px;
    padding-left: 40px;
}