<div class="container mt-3">
  <div>
    <p id="boldingtext" style="color: #39bae8;" class="h3 text-center">Our Services</p>
  </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="card" >
        <img src="assets/digital.png" class="img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Digital Print</h5>
          <p class="card-text">"Experience unparalleled precision and vibrant colors with our digital print services. From small-scale prints to large-format signage, we bring your vision to life."</p>
          
        </div>
      </div>
    </div>


      <div class="col"><div class="card" >
        <img src="assets/vinyl print.png" class="img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vinyl Print</h5>
          <p class="card-text">
            "Elevate your brand with our vinyl print services. From vibrant graphics to durable signage, we deliver high-quality solutions tailored to your needs."</p>
          
        </div>
      </div></div>
      <div class="col"><div class="card" >
        <img src="assets/t-shirt.png" class="img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">T-Shirt Print</h5>
          <p class="card-text">"Make a statement with our custom t-shirt printing. Vibrant designs, durable materials, and personalized options ensure your message stands out."</p>
          
        </div>
      </div></div>
      <div class="col"><div class="card" >
        <img src="assets/neon.png" class="img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Neon Light</h5>
          <p class="card-text">"Illuminate your brand with our captivating neon lights. Custom designs, vibrant colors, and attention-grabbing signage guaranteed to leave a lasting impression.</p>
          
        </div>
      </div></div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-3">
        <div class="col">
          <div class="card" >
          <img src="assets/cncboard.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">CNC Board</h5>
            <p class="card-text">Transform your ideas into precision-crafted creations with our CNC board services. Impeccable detailing and versatility to bring your designs to life."</p>
            
          </div>
        </div>
      </div>
  
  
        <div class="col"><div class="card" >
          <img src="assets/cnccutting.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">CNC Board Design</h5>
            <p class="card-text">
              "Unlock limitless possibilities with our CNC board design services. From intricate patterns to custom shapes, we bring your visions to reality with precision.</p>
            
          </div>
        </div></div>
        <div class="col"><div class="card" style="width: 18rem; height: 20rem;">
          <img  src="assets/letterhead.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">LetterHead</h5>
            <p class="card-text">"Elevate your brand identity with our custom letterhead design services. Professional, personalized designs that leave a lasting impression on your correspondence."</p>
            
          </div>
        </div></div>
        <div class="col"><div class="card" >
          <img style="height: 400px;"  src="assets/idcard.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">Id Card</h5>
            <p class="card-text">"Craft professional and personalized identification cards with our ID card design services. Customized designs tailored to represent your brand and identity seamlessly.</p>
            
          </div>
        </div></div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-3">
        <div class="col">
          <div class="card" >
          <img style="height: 200px;"  src="assets/hoarding.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hoarding Design</h5>
            <p class="card-text">"Maximize your brand's visibility with our captivating hoarding design services. Eye-catching visuals and strategic placement to ensure maximum impact and audience engagement."</p>
            
          </div>
        </div>
      </div>
  
  
        <div class="col"><div class="card" >
          <img style="height: 200px;"  src="assets/glowsingboard.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">Glow SignBoard</h5>
            <p class="card-text">
              "Illuminate your brand with our dynamic glowing signboard design services. Stand out from the crowd with vibrant, attention-grabbing designs that captivate audiences."</p>
            
          </div>
        </div></div>
        <div class="col"><div class="card" >
          <img style="height: 200px;"  src="assets/flex.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">Flex</h5>
            <p class="card-text">"Elevate your brand's presence with our striking flex design services. Vibrant, eye-catching visuals tailored to capture attention and convey your message effectively."</p>
            
          </div>
        </div></div>
        <div class="col"><div class="card" >
          <img style="height: 200px;"  src="assets/led board.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">LED Board</h5>
            <p class="card-text">"Enhance your brand visibility with our innovative LED board services. Dynamic displays, customizable designs, and energy-efficient solutions to illuminate your message."</p>
            
          </div>
        </div></div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-3">
        <div class="col">
          <div class="card" >
          <img style="height: 300px;"  src="assets/a3print.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">A3 Print</h5>
            <p class="card-text">"Experience high-quality A3 prints with our professional printing services. Crisp detail, vibrant colors, and precision printing to bring your projects to life.</p>
            
          </div>
        </div>
      </div>
  
  
        <div class="col"><div class="card" >
          <img style="height: 300px;" src="assets/a4print.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">A4 Print</h5>
            <p class="card-text">"Discover excellence in A4 printing with our professional services. From documents to promotional materials, expect crisp quality and vibrant colors for every print."</p>
            
          </div>
        </div></div>
        <div class="col"><div class="card" >
          <img style="height: 300px;" src="assets/canopy.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">CanOpy</h5>
            <p class="card-text">"Elevate your outdoor events with our custom canopy solutions. Durable, weather-resistant materials and eye-catching designs ensure your brand stands out in any setting.</p>
            
          </div>
        </div></div>
        <div class="col"><div class="card" >
          <img style="height: 300px;" src="assets/standee.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">Standee</h5>
            <p class="card-text">"Stand out at events with our customizable standee solutions. Lightweight, portable, and eye-catching designs to effectively showcase your brand and message."</p>
            
          </div>
        </div></div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-3">
        <div class="col">
          <div class="card" >
          <img style="height: 300px;" src="assets/oneway print.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">One Way Print</h5>
            <p class="card-text">"Enhance privacy while promoting your brand with our one-way print services. High-quality, custom designs that allow visibility from one side while maintaining discretion."</p>
            
          </div>
        </div>
      </div>
  
  
        <div class="col"><div class="card" >
          <img style="height: 300px;" src="assets/visitingcard.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">Visiting Card</h5>
            <p class="card-text">"Leave a lasting impression with our professional visiting card services. Custom designs, premium materials, and attention to detail for a standout representation of your brand."</p>
            
          </div>
        </div></div>
        <div class="col"><div class="card" >
          <img style="height: 300px;" src="assets/vinyl print.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">Vinyl</h5>
            <p class="card-text">"Elevate your brand with our premium vinyl solutions. Durable, weather-resistant materials and vibrant prints to ensure your message stands out in any environment."</p>
            
          </div>
        </div></div>
        <div class="col"><div class="card" >
          <img style="height: 300px;" src="assets/led.png" class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">Led Board</h5>
            <p class="card-text">"Illuminate your brand with our cutting-edge LED board solutions. Dynamic displays, customizable designs, and energy-efficient technology to captivate your audience."</p>
            
          </div>
        </div></div>
      </div>
    
  </div>
