<!-- footer section start -->
<footer id="footer">
    <div class="container">
      <div class="row ">
        <div class="col-md-6">
          <a href="index.html"><img src="assets/youradvertisingverticalogo.jpg" alt="" class="img-fluid logo-footer"></a>
                    <div class="footer-about">
                        <p>  </p>
                    </div>

        </div>
        
        
        <div class="col-md-3 ">
          <div class="address">
            <h2>Address</h2>
            <!-- <img src="./assets/images/about/home_line.png" alt="" class="img-fluid"> -->
            <div class="address-links">
              <li class="address1"><i class="fa fa-location-dot"></i> C-388, Ground 
              Floor, Sector-10,<br> Noida pin-code = 201310</li>
                 <li><a href=""><i class="fa fa-phone"></i> +91 90904500112</a></li>
                 <li><a href=""><i class="fa fa-envelope"></i> mail@1234567.com</a></li>
            </div>
          </div>
        </div>
                
      </div>
    </div>

  </footer>
  <!-- footer section end -->
  <!-- footer copy right section start -->
  <section id="copy-right">
    <div class="copy-right-sec"><i class="fa fa-copyright"></i>  Copyright
      2024. Your Advertising : All Right Reserved <a href="#"></a> 


    </div>

  </section>
  <!-- footer copy right section end -->
