
.navbar{
    background-color: rgb(0, 0, 0);
}

.dropdown{
    left: 230px;
}
.material-icons{
    font-size: 40px;
    


}

#pointer:hover{
    cursor: pointer;
}

.navbar-toggler{
    background-color: white;
}
.navbar-toggler-icon{
    background-color: black;
}

#logout{
    cursor: pointer;
}

#navLogin{
    cursor: pointer;

}